# virtual env
venv/
.env
.env.docker

# python
*.pyc
*.pyo
__pychache__/

# django
db.sqlite3
**/migrations/
*.log

# celery
celerybeat-schedule
celerybeat.pid
celery.log
dump.rdb

# project
scraper/__pycache__/
scraper/*.pyc
scraper/*.pyo
tasks/__pycache__/
tasks/*.pyc
tasks/*.pyo

# IDE
.vscode/