services:
  web:
    build: .
    command: ["gunicorn", "project.wsgi:application", "--bind", "0.0.0.0:8001"]
    env_file: .env.docker
    volumes:
      - .:/project
      - static_volume:/project/staticfiles
    depends_on:
      - db
      - redis
    ports:
      - "8001:8001"

  db:
    image: postgres:15
    restart: always
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine

  celery:
    build: .
    command: ["celery", "-A", "project", "worker", "-l", "info"]
    env_file: .env
    volumes:
      - .:/project
    depends_on:
      - db
      - redis

  celery-beat:
    build: .
    command: ["celery", "-A", "project", "beat", "-l", "info"]
    env_file: .env
    volumes:
      - .:/project
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:latest
    ports:
      - "8888:8888"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/project/staticfiles
    depends_on:
      - web

volumes:
  pgdata:
  static_volume: